<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts :: headTag"></head>

<body>
  <nav th:replace="layouts :: navbar"></nav>
  <div class="container">
    <form action="/employees/save" th:object="${employee}" method="POST">
      <input type="text" placeholder="First Name" th:field="${employee.firstName}"><br><br>
      <input type="text" placeholder="Last Name" th:field="${employee.lastName}"><br><br>
      <input type="text" placeholder="Email" th:field="${employee.email}"><br><br>
      <button type="submit">Create Project</button>
    </form>
  </div>
</body>

</html>